
/*  Video Playlis */
.heading {
    color: #444;
    font-size: 40px;
    text-align: center;
    padding: 10px;
  }
  
  .cont-vid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
  }
  
  .cont-vid .main-video {
    background: #fff;
    border-radius: 5px;
    padding: 10px;
  
  }
  
  .cont-vid .main-video video {
    width: 100%;
    border-radius: 5px;
  }
  
  .cont-vid .main-video video .title {
    color: #333;
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .cont-vid .video-list {
    color: #fff;
    font-size: 23px;
    border-radius: 5px;
    height: 520px;
    overflow-y: scroll;
    
  }
  
  .cont-vid .video-list::-webkit-scrollbar{
    width: 7px;
   }
  
   .cont-vid .video-list::-webkit-scrollbar-track{
    background: #333;
    border-radius: 50px;
   }
   .cont-vid .video-list::-webkit-scrollbar-thumb{
    background: #666;
    border-radius: 50px;
   }
  
   .cont-vid .video-list .vid video {
    width: 100px;
    border-radius: 5px;
   }
  
   .cont-vid .video-list .vid {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1) ;
    cursor: pointer;
   }
   .cont-vid .video-list .vid.active{
    background: #2980b9;
   } 
   .cont-vid .video-list .vid.active .title{
    color: #fff;
   } 
   .cont-vid .video-list .vid .title{
    color: #333 ;
   } 
   @media (max-width:991px){
    .cont-vid{
      grid-template-columns: 1.5fr 1fr;
      padding: 10px;
    }
   }
   @media (max-width:768px){
    .cont-vid{
      grid-template-columns: 1fr ;
    }
   }
   